@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oleo+Script:wght@400;700&display=swap');


/*  font-family: 'Lobster', cursive; 
    font-family: 'Oswald', sans-serif;
    font-family: 'Lobster', cursive;   mota
    font-family: 'Corinthia', cursive;   tedh
    font-family: 'Oleo Script', cursive;  for head
    font-family:  'Merriweather', serif;
    font-family: 'Courgette', cursive; 
    font-family: 'Lobster', cursive; 
    font-family: 'Volkhov', serif; 
 */

html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Libre Baskerville', serif;

}
.border{border: 1px solid red;}
.pad0{padding: 0px;}
.margin0{margin: 0px;}
.clear{clear: both;}

.header{
	background-color: #022127;
	padding:  10px 25px;
	height: 100px;
}
.logo{
	padding-left: 50px;
}
.logo img{
	height: 80px;
}
.logo h1{
	position: absolute;
	top: 0px;
	left: 40px;
	font-family: 'Lobster', cursive;
	font-size: 2.8em;
	font-weight: 700;
	color: #fff;
	letter-spacing: 1px;
}
.logo h1 span{
	color: #18dcff;
}
.social{
	height: 80px;
}
.social ul{
	list-style: none;
	text-align: right;
	line-height: 80px;
}
.social ul li{
	display: inline-block;
	margin-right: 15px;
}
.social ul li a{
	font-size: 1.7em;
	text-decoration: none;
	color: #fff;
	transition: all ease .5s;
}
.social ul li a:hover{
	color: blue;
	font-size: 2em;
}
.introduction{
	background-color:#000;
	height: 400px;
	overflow: hidden;
}
.info{
	height: 400px;
	padding: 60px;
}
.info span{
	color: #0afff4;
}
.info h2{
	font-size: 2em;
	font-family: 'Lobster', cursive;
	font-weight: 900;
	color: #F8EFBA;
}
.info h1{
	margin-top: 15px;
	font-size: 3.5em;
	font-family: 'Lobster', cursive;
	font-weight: 900;
	color: #ccffea;
}
.wrapper{
	display: inline-flex;
}
.wrapper h3{
	font-size: 3em;
	font-weight: 900;
	color: #F8EFBA;
	font-family: 'Lobster', cursive;
	
}
.wrapper .auto_text{
	list-style: none;
	padding: 0px;
	margin-top: 15px;
	margin-left: 15px;
	height: 62px;
	position: relative;
	top: 0;
	overflow: hidden;
}
.wrapper .auto_text li{
	position: relative;
	top: 0;
	animation-name: slide;
	animation-duration: 12s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(4);
}
@keyframes slide{
	100%{
		top: -248px;
	}
}
.wrapper .auto_text span{
	font-size: 3em;
	font-weight: 900;
	font-family:'Lobster', cursive;
}
.wrapper .auto_text span:after{
	content: '';
	height: 100%;
	width: 100%;
	border-left: 2px solid yellow;
	position: absolute;
	left: 0;
	background-color: #000;
	animation-name: typing;
	animation-duration: 3s;
	animation-timing-function: steps(17);
	animation-iteration-count: infinite;
}
@keyframes typing{
	100%{
		left: 100%;
	}
}
.btn{
	display: block;
	padding: 0px;
	margin: 0px;
	text-align: left;
	border:1px solid #ddd;
	width: 100px;
	padding: 8px 12px;
	border-radius:25%;
	margin-top: 20px;
	transition: all ease .5s;
}
.btn a{
	color: #fff;
	background-color: transparent;
	text-decoration: none;
}
.btn:hover{
	background-color: blue;
	border: none;
}

.introduction .image_info{
	background-image: url(../img/bg1.png);
	height: 400px;
	background-repeat: no-repeat;
	background-size: 250px;
	background-position: top center;
	padding-top:20px;
}
.introduction .image_info img{
	height: 400px;
	margin-top: 0px;
}
.nav_bar{
	background-color: #5a5050;
	padding: 0px;
	padding-bottom:0px;
	height: 60px;	
}
.nav_bar.active{
	position: sticky;
	top: 0;
	z-index: 5;
}

.nav_bar ul{
	list-style: none;
	padding: 0;
	padding: 0px  350px;
}
.nav_bar ul li{
	padding: 0;
	display: inline-block;
	padding: 13px 15px;
	margin-right: 10px;
	transition: all ease .8s;
	margin-top: 4px ;
}
.nav_bar ul li a{
	color: #FFDEAD;
	font-size: 1em;
	text-decoration: none;
	font-weight: 500;
}
.nav_bar .cross{
	display: none;
}
.home{
	color: #fff;
	background: #6F1E51;
}
.home a{
	color: #fff;
}
.nav_bar ul li:hover{
	background-color: #6F1E51;
}
.nav_bar ul li:hover a{
	color: #fff;
}
.about{
	padding: 0px;
	background-image: linear-gradient(to right bottom, #fcd7ec, #ebd9ff, #bbe3ff, #6bf0ff, #00f9ff, #33f9f4, #4bf8e9, #5ff7de, #82f1e2, #a0eae3, #bbe3e1, #d3dbdb);
	height: 600px;
	overflow: hidden;
}
.about_img{
	padding: 0px;
	padding-top: 50px;
}
.about_img img{
	height: 550px;
}
.about_info{
	padding: 50px 80px;
}
.about h1{
	font-size: 3.5em;
	text-transform: capitalize;
	font-family: 'Lobster', cursive; 
	text-decoration: underline;
	color: #6F1E51;
}
.mobile_about{
	display: none;
}
.about_info p{
	margin-top: 35px;
	font-size: 1.2em;
	font-weight: 500;
	color: #283747;
}
.about_info ul{
	margin-top: 30px;
	list-style: none;
	padding: 0px;
}
.about_info ul li{
	display: inline-block;
	font-size: 1.2em;
	margin-right: 20px;
	color: #46082f;
	font-weight: 700;
	cursor: pointer;
}
.about_info ul li:hover{
	text-decoration: underline;
}
.description{
	display: none;
	height: 300px;
}
.experience{
	display: block;
}

.education{
	height: 300px;
	overflow: scroll;
	margin-right: -80px;
}
.about_info dl{
	margin-top: 15px;
}
.about_info dt{
	color:#380195;
	font-size: 1.3em;
	font-weight: 500;
}
.about_info dd{
	color: #999797;
	font-size: 1.2em;
	font-weight: 400;
}
.my_portfolio{
	background-color: #adb4a2;
	padding-top:0px;
	margin-top: 0px;
}
.my_portfolio h1{
	text-align: center;

	margin: 30px opx;
	font-size: 4em;
	font-weight: 900;
    font-family: 'Courgette', cursive; 
    text-decoration: underline;
    color: #6F1E51;
}
.box{
	padding: 30px 20px;
}
.my_box{
	height: 270px;
	width: 250px;
	border-radius:30px;
	background-color: #dfe4ea;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	position: relative;
	cursor: pointer;
	transition: all ease 1s;
}
.my_box img{
	height: 270px;
	width: 100%;
	border-radius: 30px;
	border:10px inset grey;
	cursor: pointer;
}
.img_shadow{
	position: absolute;
	border: 1px solid red;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	height: 270px;
	width: 250px;
	border-radius:30px;
	display: none;
	cursor: pointer;
}
.my_box:hover .img_shadow{
	display: block;
}
.img_shadow span{
	color: red;
	line-height: 270px;
	font-size: 1em;
	/*margin-left: 80px;*/
	color: #dff9fb;
	cursor: pointer;
}
.img_shadow span:hover{
	color: blue;
}
.shadow1,.shadow2,.shadow3,.shadow4,.shadow5,.shadow6,.shadow7,.shadow8{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
}
.shadow1 .fa-times ,.shadow2 .fa-times,.shadow3 .fa-times,.shadow4 .fa-times,.shadow5 .fa-times,.shadow6 .fa-times,.shadow7 .fa-times,.shadow8 .fa-times{
	float: right;
	font-size: 2em;
	font-weight: bold;
	color: #fff;
	margin-top: 100px;
	margin-right: 50px;
	cursor: pointer;
}
.shadow1 .fa-times:hover,.shadow2 .fa-times:hover,.shadow3 .fa-times:hover,.shadow4 .fa-times:hover,.shadow5 .fa-times:hover,.shadow6 .fa-times:hover,.shadow7 .fa-times:hover,.shadow8 .fa-times:hover{
	color: red;
}
.project{
	padding: 80px 50px;
}
.project img{
	height: 400px;
	border-radius: 20px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.project h1{
	margin-top: 50px;
	font-size: 3em;
	font font-weight: 900;
    font-family: 'Lobster', cursive; 
    color: #afafe6;
    text-decoration: underline;
}
.project p{
    color: #fff;
    margin-top: 50px;
    margin-right: 50px;
    font-size: 1.3em;
    letter-spacing: 1px;
}
.service{
	background-color:#100e26;
}
.service h1{
	text-align: center;
	margin: 30px 0px;
	font-size: 4em;
	font-weight: 900;
    font-family: 'Courgette', cursive; 
    text-decoration: underline;
    color: #fff;
}
.service .my_box2{
	padding: 50px 40px;
}
.service .box2{
	height: 350px;
	width: 300px;
	border-radius: 20px;
	background-color: #ffeaa7;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	text-align: center;
	padding: 30px 10px;
}
.service i{
	font-size: 2em;
	font-weight: 900;
	color: blue;
}
.service h3{
	margin: 20px 0px;
	font-size: 1.7em;
	font-weight: 700;
	color: red;
}
.service p{
	font-size: 1.3em;
	font-weight: 500;

}
.contact{
	background-color: #000;
	
	padding-top: 20px;
	padding-bottom: 50px;
}
.contact h1{
	text-align: center;
	margin: 30px 0px;
	font-size: 4em;
	font-weight: 900;
    font-family: 'Courgette', cursive; 
    text-decoration: underline;
    color: #ecabe9;
    margin-bottom: 30px;
}
.contact h3{
	color: #18dcff;
	margin-top: 50px;
	text-decoration: underline;
	font-size: 2.1em;
	font-weight: 700;
	 font-family:  'Merriweather', serif;
}
.contact .con{
	list-style: none;
}
.contact .con li{
	margin-top: 8px;
}
.contact .con a{
	color: #fff;
	font-size: 1.2em;
	transition: all ease .5s;
}
.contact .con i{
	margin-right: 15px;
}
.contact .soc{
	list-style: none;
}
.contact .soc li{
	display: inline-block;
	margin-left: 15px;
}
.contact .soc a{
	color: #fff;
	font-size: 1.5em;
	transition: all ease .5s;
}
.contact a:hover{
	color: blue;
}
.contact p{
	color: #fff;
	font-size: 1.5em;
	transition: all ease .5s;
}
.map{
	height: 400px;
	width: 450px;
}

.header .social .fa-bars{
	display: none;
}

/* For mobile view */


@media(max-width: 1000px){

	.header .social ul{
		display: none;
	}
	.header .social .fa-bars{
		display: block;
		text-align: right;
		line-height: 100px;
		font-size: 2em;
		color: #fff;
		margin-right: 20px;
		cursor: pointer;
	}
	.nav_bar{
		margin: 0px !important;
		padding: 0px !important;
		position: absolute;
		top: 0px;
		right: 0px;
		height: 310px;
		text-align: left;
		width: 200px;
		display: none;
	}
	.nav_bar ul{
		padding: 0px;
		margin: 0px;
		width: 200px;
		text-align: left;
		position: absolute;
		left: -15px;
	}
	.nav_bar ul li{
		display: block;
		padding: 0px;
		margin: 0px;
		padding: 15px 20px;
		width: 100%;
	}
	.nav_bar .home{
		/*color: #FFDEAD;*/
		background: none;
	}
	.home a{
		color: #FFDEAD;
	}
	.nav_bar .cross{
		display: block;
		text-align: right;
		color: #fff;
		font-size: 1.6em;
		
	}
	.nav_bar .cross:hover{
		background: none;
	}
	.nav_bar.active{
		position: absolute;
		top: 0;
		right: 0;
		z-index: 5;
	}
	.introduction{
		height: auto;
	}
	.info h2{
		font-size: 1.8em;
	}
	.info h1{
		font-size: 2.2em;
	}
	.wrapper h3{
		font-size: 1em;
		margin-right: 8px;
	}
	.wrapper .auto_text span{
		font-size: 1.5em;
	}
	.wrapper .auto_text{
		height: 31px;
	}
	@keyframes slide{
		100%{
			top: -124px;
		}
	}
	.about{
		height: auto;
	}
	.mobile_about{
		display: block;
		text-align: center;
		margin-bottom: 20px;
	}
	.lap_about{
		display: none;
	}
	.about_info{
		padding: 20px 15px;
	}
	.about_info ul li{
		font-size: 8px;
		margin-left: 4px;
	}
	.education dt{
		font-size: 1.1em;
	}
	.box{
		/*padding: 30px 150px;*/
		text-align: center;

	}
	.shadow1,.shadow2,.shadow3,.shadow4,.shadow5,.shadow6,.shadow7,.shadow8{
		height: 2000px;
		z-index: 10;
	}
	.shadow1 .fa-times,.shadow2 .fa-times,.shadow3 .fa-times,.shadow4 .fa-times,.shadow5 .fa-times,.shadow6 .fa-times,.shadow7 .fa-times,.shadow8 .fa-times{
		display: none;
	}
	
	.project img{
		height: 250px;
		width: 250px;
	}
	.map{
		width: 320px;
	}

}